<div class="table-principal">
  <h5>Gerenciador de Curso</h5>
  <p>Preencha os campos para inserir o curso</p>

  <form [formGroup]="formCadastro" (ngSubmit)="onSubmit()">
    <div *ngIf="mensagem" class="mb-3 alert alert-primary">
      <strong>{{ mensagem }}</strong>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label for="">Descrição</label>
        <input type="text" class="form-control" formControlName="descricao" />
        <div
          class="text-danger"
          *ngIf="form.descricao.touched && form.descricao.invalid"
        >
          <span *ngIf="form.descricao.errors.required">
            Digite a descrição do curso
          </span>
        </div>
      </div>

      <div class="col-md-3">
        <label for="">Data de Início</label>
        <input type="date" class="form-control" formControlName="dataInicio" />

        <div
          class="text-danger"
          *ngIf="form.dataInicio.touched && form.dataInicio.invalid"
        >
          <span *ngIf="form.dataInicio.errors.required">
            Insira data de início do curso
          </span>
        </div>
      </div>

      <div class="col-md-3">
        <label for="">Data de Término</label>
        <input type="date" class="form-control" formControlName="dataTermino" />

        <div
          class="text-danger"
          *ngIf="form.dataTermino.touched && form.dataTermino.invalid"
        >
          <span *ngIf="form.dataTermino.errors.required">
            Insira a data termino do curso
          </span>
        </div>
      </div>

      <div class="col-md-3">
        <label for="">Quantidade de alunos</label>
        <input type="text" class="form-control" formControlName="qtdAlunos" />

      </div>

      <div class="col-md-3">
        <label for="categoria">Categoria</label>
        <select class="form-control" formControlName="categoria" id="categoria">
          <option>Selecione</option>
          <option
            *ngFor="let categoria of categoria"
            value="{{ categoria.idCategoria }}"
          >
            {{ categoria.categoria }}
          </option>
        </select>

        <div
          class="text-danger"
          *ngIf="form.categoria.touched && form.categoria.invalid"
        >
          <span *ngIf="form.categoria.errors.required">
            Digite a categoria do curso
          </span>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-12">
        <input
          type="submit"
          [disabled]="!formCadastro.valid"
          class="btn btn-succes bg-warning"
          value="Adicionar"
        />
        <input
          type="button"
          (click)="voltar()"
          class="btn btn-succes bg-warning"
          value="voltar"
          style="margin-left: 10px"
        />
      </div>
    </div>
  </form>
</div>
